/* 共通レイアウト -------------------------------------------------- */
header, footer {
    background-color: #c52f24;
    color: #fff;
    padding: 10px
}

table {
    border-collapse: collapse;
  }

table th, table td {
    border: 1px solid black;
  }

th {
    background-color: #ffdfdf;
    padding: 10px 20px;

}

td {
    background-color: #f1c8c861;
    padding: 10px 20px;
    text-align: center;
}

footer {

}

.main_container {
    margin: 50px 15px;
}

.main_container input {
}

.main_container ul {
    list-style: none;
}

.button {
    font-size: 16px;
    padding: 5px;
}


/* フラッシュ -------------------------------------------------- */
.flash {
    padding: 15px 0;
    color: white;
    background: rgb(251, 170, 88);
    text-align: center;
    width: 400px;
  }